body{
}
.main-con {
    width: 40%;
    padding-left: 40px;
    margin: 0 auto;
}
.fixed {
    background: #666;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}
.relative {
    background: rgb(179, 8, 8);
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
}
.absolute {
    background: #34deeb;
    position: absolute;
    width: 250px;
    height: 100px;
    right: -30px;
    bottom: 0;
}